<div class="container container-destination">
  <div class="destination__title mb-5">
    <h5>Требования к туристическим заявкам на получение визы в Афганистан</h5>
  </div>
  <div class="d-flex">
    <div class="destination__icon-box">
      <i class="fas fa-passport destination__icon"></i>
    </div>
    <div class="ml-3">
      <h5>Паспорт</h5>
      <p>Вы должны предоставить свой действительный подписанный паспорт, включая одну копию страницы с личной
        информацией вашего паспорта. Ваш паспорт должен:</p>
      <ul>
        <li>Быть действительным в течение следующих шести месяцев</li>
        <li>Имейте по крайней мере две пустые страницы визы спиной к спине.</li>
        <li>Не быть изношенным, порванным, отделенным или измененным любым другим способом</li>
      </ul>
    </div>
  </div>

  <div class="d-flex">
    <div class="destination__icon-box">
      <i class="fas fa-camera destination__icon"></i>
    </div>
    <div class="ml-3">
      <h5>Фотографии</h5>
      <p>Вы должны предоставить одну цветную фотографию паспортного типа, соответствующую следующим критериям:</p>
      <ul>
        <li>Быть взятым в течение последних трех месяцев и напечатанным на высококачественной фотобумаге</li>
        <li>Быть взятым на белом фоне</li>
        <li>Обеспечьте полный фронтальный вид вашей головы с центром в центре лица и отображением нейтрального (не
          улыбающегося) выражения.
        </li>
        <li>Вы не можете носить ни очки, ни головные уборы, за исключением религиозных целей</li>
        <li>Ваша фотография не должна быть прикреплена к вашей заявке, и она может не содержать доказательств скотча или
          скрепок
        </li>
      </ul>
    </div>
  </div>

  <div class="d-flex">
    <div class="destination__icon-box">
      <i class="fas fa-file destination__icon"></i>
    </div>
    <div class="ml-3">
      <h5>Деловое сопроводительное письмо</h5>
      <p>Вы должны предоставить оригинальное бизнес-сопроводительное письмо от вашей американской компании. Все письма
        должны быть напечатаны на фирменном бланке компании с почтовым адресом США. Используйте прилагаемое образец
        бизнес-сопроводительного письма для заполнения вашего письма. В дополнение к языку, указанному в примере, ваше
        бизнес-сопроводительное письмо должно:</p>
      <ul>
        <li>Обращайтесь в посольство Афганистана</li>
        <li>Быть от</li>
        <li>Включите свой номер паспорта</li>
      </ul>
    </div>
  </div>
</div>
