<div class="container container-countries mt-5">
  <div class="countries-head">
    <h3>Быстрая проверка визы</h3>
    <p><b>Вы гражданин Беларуси, который хочет знать, требуется ли виза для вашей поездки?</b>
      Используйте быструю проверку визы, чтобы получить информацию, необходимую для вашего пункта назначения. Просто
      выберите
      страну, в которую вы путешествуете, чтобы определить, потребуется ли виза для вашей поездки. Если для поездки в
      страну назначения требуется виза , выберите «Получить визу», и вы будете получать необходимые документы. Если
      указано «виза не требуется», вы должны иметь следующее:
    </p>
    <h6>Если указано «виза не требуется», вы должны иметь следующее:</h6>
    <ul>
      <li>Паспорт, содержащий одну пустую страницу визы, которая действительна в течение 6 месяцев после даты вашего
        въезда в страну.
      </li>
      <li>Подтверждение достаточных средств.</li>
      <li>Подтверждение о последующих или обратных рейсах.</li>
      <li>Все документы, необходимые для следующего пункта назначения.</li>
    </ul>
    <h6>Перейдите к пункту назначения, выбрав букву страны, или прокрутите страницу вниз, пока не увидите то, что
      ищете.</h6>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-4 mb-2">
    <div *ngFor="let letter of alphabet; let i = index" class="border-left pl-1 pr-1 cursor-pointer text-danger"
         [scrollTo]="'#'+ letter"
         [ngClass]="{'letter_first':i===0}">{{letter}}</div>
  </div>
  <div class="mt-4">
    <table class="table">
      <thead>
      <tr>
        <th>Страны</th>
        <th class="pl-4">Информация о визе</th>
      </tr>
      </thead>
      <tbody class="w-100">
      <tr *ngFor="let country of countries;">
        <th>
          <h6 class="cursor-pointer text-danger country-card-title" [id]="country.name.charAt(0)">{{country.name}}</h6>
        </th>
        <th>
          <ul>
            <li>Бизнес: {{country.business}}</li>
            <li>Турист: {{country.travel}}</li>
          </ul>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
