<div class="card tour-card border-0">
  <img class="card-img-top"
       src="https://www.exodus.co.uk/sites/exod/files/styles/exo_727_421/public/hero-image/hero-image/images/48006_hero.jpg?t=1FOaiW&itok=n2Bg1kP9"
       alt="Card image cap">
  <div class="card-body p-0">
    <h5 class="card-title tour-card-title text-uppercase pt-2">Imperial China & Yangtze River Cruise</h5>
    <p class="card-text tour-card-text">A comprehensive China itinerary covering the country's length and breadth</p>
    <div>
      <h6 class="mr-2 tour-card-subtitle">Culture</h6>
      <span class="tour-card-text">20 days Incl. Transfer</span>
      <h5 class="tour-card-title">
        <small class="mr-2 font-weight-normal tour-card-subtitle">From</small>
        $2,899
      </h5>
    </div>

    <a href="#" class="btn btn-primary w-100 tour-card-btn mt-2">View Dates & Prices</a>
  </div>
</div>
