.user-select__logo {
  color: white;
  font-size: 20px;
}

.user-select__username {
  color: white;
}

.user-select__arrow {
  font-size: 16px;
  color: white;
}

.user-select {
  cursor: pointer;
  margin-right: 5px;
  position: relative;
}

.user-select-menu {
  position: absolute;
  background-color: white;
  top: 40px;
  list-style: none;
  padding: 0;
  width: calc(100% + 5px);
  box-shadow: 0 0 2px #00000087;
}

.select-menu__item {
  color: #4b5a5a;
  padding: 5px;
  font-weight: 500;
}

.select-menu__item:hover {
  background-color: #D7D7D7;
}
