<form class="register-container" (ngSubmit)="onSubmit()">
  <div class="container pt-5">
    <h2 class="register-container__title">Create your
      <span class="register-container__title_green">free </span>
      <span class="">account</span></h2>
  </div>
  <div class="container register-form d-flex mb-5">
    <div class="w-100">
      <div class="mt-5">
        <div class="d-flex pb-4">
          <div class="position-relative w-100">
            <input class="d-block login-popup__input mb-4" placeholder="First name" [(ngModel)]="registerForm.firstName"
                   name="firstName" autofocus/>
            <div class="position-absolute input-placeholder">
              <i class="fas fa-user input-placeholder__icon"></i>
            </div>
          </div>
          <div class="position-relative w-100">
            <input class="d-block login-popup__input mb-4" [(ngModel)]="registerForm.lastName" name="lastName"
                   placeholder="Last name"/>
            <div class="position-absolute input-placeholder">
            </div>
          </div>
        </div>
        <div class="position-relative pb-4">
          <input class="d-block login-popup__input mb-4" [(ngModel)]="registerForm.email" name="email"
                 placeholder="Email"/>
          <div class="position-absolute input-placeholder">
            <i class="fas fa-envelope input-placeholder__icon"></i>
          </div>
        </div>
        <div class="position-relative pb-4">
          <input class="d-block login-popup__input mb-3" [(ngModel)]="registerForm.password" name="password"
                 placeholder="Password"
                 type="password" autocomplete=""/>
          <div class="position-absolute input-placeholder">
            <i class="fas fa-lock input-placeholder__icon"></i>
          </div>
        </div>
        <div class="position-relative pb-4">
          <input class="d-block login-popup__input mb-3" [(ngModel)]="registerForm.retypePassword" name="retypePassword"
                 placeholder="Retype password" type="password" autocomplete=""/>
          <div class="position-absolute input-placeholder">
            <i class="fas fa-lock input-placeholder__icon"></i>
          </div>
        </div>
        <div class="mb-5 mt-3 d-flex align-items-center">
          <input type="checkbox" class="register-container__checkbox">
          <span class="pl-2 register-container__text">I agree with the Regional Tourist Center
            <span class="register-container__title_green register-container__text_pointer">Terms of Service</span>
          </span>
        </div>
        <div class="d-flex justify-content-end">
          <button class="register-container__button" type="submit">Create Account</button>
        </div>
      </div>
    </div>
    <div class="register-hints w-100 ml-5 mt-4">
      <div class="p-2">
        <h6 class="register-container__title_small">Your password is your master encryption key.</h6>
        <p class="register-container__text">Your account’s security depends on the strength of your password. Passwords
          that are too short, too simple or
          consist of dictionary words are easily guessed.</p>
      </div>
      <div class="p-2">
        <h6 class="register-container__title_small">Existing email address.</h6>
        <p class="register-container__text">All e-mails from the site will be sent to this
          address. The e-mail address will not be published and will be used only at your request: for password recovery
          or for receiving news and e-mail notifications. </p>
      </div>
      <div class="p-2">
        <h6 class="register-container__title_small">Your account is only as secure as your computer.</h6>
        <p class="register-container__text">Never enter your password on a device that you do not fully trust. Do not
          log into your account from a shared
          or public computer. </p>
      </div>
    </div>
  </div>
</form>
