<div class="menu d-flex justify-content-center"
     [ngClass]="{'tool-bar-active':menuBehaviorService.menuIsOpen.getValue()}">
  <div class="d-flex align-items-center h-100">
    <img routerLink="/" class="logo" src="assets/img/logo/logo.png" alt="Logo"/>
  </div>
  <div class="tool-bar-items-container d-flex justify-content-center align-items-center">
    <div>
      <ul class="h-100 d-flex align-items-center p-0">
        <li class="menu-item text-uppercase d-flex align-items-center">
          <a routerLink="/tours" class="menu-item__title menu-item__link">Туры</a>
        </li>
        <li class="menu-item text-uppercase d-flex align-items-center">
          <a routerLink="/countries" class="menu-item__title menu-item__link">Страны</a>
        </li>
        <li class="menu-item text-uppercase d-flex align-items-center">
          <a routerLink="/news" class="menu-item__title menu-item__link">Заявки</a>
        </li>
        <li class="menu-item text-uppercase d-flex align-items-center">
          <a routerLink="/visa" class="menu-item__title menu-item__link">Visa Free</a>
        </li>
        <li class="menu-item text-uppercase d-flex align-items-center">
          <a routerLink="/news" class="menu-item__title menu-item__link">Новости</a>
        </li>
        <li class="menu-item text-uppercase d-flex align-items-center">
          <a routerLink="/news" class="menu-item__title menu-item__link">База отдыха "Погораны"</a>
        </li>
      </ul>
    </div>
    <div class="contact d-flex align-items-center">
      <div>
        <h5 class="contact__phone">+375 (29) 869 06 02</h5>
        <div class="d-flex justify-content-end">
          <span class="contact__open-hours-label"></span>
          <span class="contact__open-hours-time">9:00 - 19:00</span>
        </div>
      </div>
    </div>
  </div>
</div>
