.menu {
  background-color: white;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

.menu-item {

}

.menu-item__title {
  color: #9ea5a5;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none !important;
  font-weight: 500;
  font-size: 17px;
}

.contact {
  margin-left: 60px;
}

.contact__phone {
  color: #649b32;
  cursor: pointer;
}

.contact__phone:hover {
  color: #57862b;
}

.contact__open-hours-label {
  font-weight: 700;
  color: #9ea5a5;
}

.contact__open-hours-time {
  color: #649b32;
  font-weight: 700;
  padding-left: 10px;
}

.logo {
  cursor: pointer;
  height: 53px;
  width: 65px;
  outline: none !important;
}

.tool-bar-active {
  transition: 0.5s;
  transform: translateX(300px);
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}

.menu-item__link:hover {
  color: #315fb6;
}

@media (max-width: 900px) {
  .contact__phone {
    font-size: 16px;
  }

  .contact {
    margin-left: 0;
  }

  .contact__open-hours-time {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .tool-bar-items-container {
    display: none !important;
  }

  .menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
  }
}
