<div class="position-relative">
  <button type="button" class="select-btn d-flex align-items-center" (click)="this.isOpen = !this.isOpen">
    <span class="mr-3">{{name}}</span>
    <div>
      <i class="fas fa-caret-up d-block"></i>
      <i class="fas fa-caret-down d-block"></i>
    </div>
  </button>
  <ul class="select-body" [ngClass]="{'select-body_active':isOpen}">
    <li class="select-item">Сортировать: цена по убыванию</li>
    <li class="select-item">Сортировать: цена по возрастанию</li>
    <li class="select-item">Сортировать: продолжительность по возрастанию</li>
    <li class="select-item">Сортировать: продолжительность по убыванию</li>
  </ul>
</div>
