<form (ngSubmit)="submit()" *ngIf="!isVisible">
  <button i18n="@@signIn" (click)="open()" type="button" class="nav-bar-item__button text-uppercase">Войти</button>
  <div *ngIf="isOpen" class="position-absolute login-popup">
    <div (click)="close()"><i class="fas fa-times login-popup__close"></i></div>
    <i class="fas fa-chevron-up login-popup__arrow-up position-absolute"></i>
    <span class="white-line"></span>
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <div class="w-100 p-4 m-1">
        <div class="position-relative">
          <input [(ngModel)]="authParams.email" name="email" class="d-block login-popup__input mb-4" placeholder="Email"
                 autocomplete autofocus/>
          <div class="position-absolute input-placeholder">
            <i class="fas fa-envelope input-placeholder__icon"></i>
          </div>
        </div>
        <div class="position-relative pb-3">
          <input [(ngModel)]="authParams.password" name="password" class="d-block login-popup__input mb-3"
                 placeholder="Password" type="password" autocomplete/>
          <div class="position-absolute input-placeholder">
            <i class="fas fa-unlock-alt input-placeholder__icon"></i>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="mb-3 login-popup__link">
            <i class="fas fa-unlock-alt"></i>
            <span class="ml-2">Забыли пароль?</span>
          </div>
          <div class="d-flex justify-content-end">
            <button i18n="@@signIn" class="login-popup__button text-uppercase">Войти</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

