<div class="d-flex justify-content-center align-items-center b bg-light">
  <div class="block d-flex justify-content-center border bg-white">
    <div>
      <div class="d-flex justify-content-center mt-3">
        <img routerLink="/" class="logo" src="assets/img/logo/logo.png" alt="Logo"/>
      </div>
      <div class="text-center">
        <h6 class="text-success p-4">Для завершения регистрации следуйте инструкциям на почте:</h6>
        <div><a class="text-info">okolodyazhnaya97@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
