<div class="d-flex justify-content-center w-100 create-tour-page">
  <div class="create-tour-container mt-5">
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="d-flex justify-content-center menu-container">
        <button class="create-tour-container__btn-menu" type="button">1. Overview</button>
        <button class="create-tour-container__btn-menu" type="button">2. Itinerary</button>
        <button class="create-tour-container__btn-menu" type="button">3. Dates&Prices</button>
      </div>
    </div>
    <div class="menu-footer d-flex justify-content-end align-items-center mt-5">
      <div class="d-flex justify-content-center w-100 pl-5 ml-5">
        <i class="fas fa-dot-circle dot-circle"></i>
        <i class="fas fa-dot-circle dot-circle"></i>
        <i class="fas fa-dot-circle dot-circle"></i>
      </div>
      <button class="mr-3 menu-footer__btn-continue" type="button">Continue</button>
    </div>
  </div>
</div>
