.create-tour-page {
  background-color: #f2f2f2;
  background-image: linear-gradient(141deg, rgba(135, 224, 141, 0.58) 0%, #1fc8db 51%, rgba(44, 181, 232, 0.58) 75%);
  height: 150vh;
}

.create-tour-container {
  width: 50%;
  background-color: white;
  border-radius: 6px;
}

.create-tour-container__btn-menu {
  height: 50px;
  padding: 5px 40px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  outline: none;
  color: #a8afaf;
  font-size: 16px;
}

.create-tour-container__btn-menu:hover {
  border-bottom: 2px solid #0db9f0;
}

.create-tour-container__btn-menu_active {
  border-bottom: 2px solid #0db9f0;
}

.dot_isActive > .dot-circle {
  color: #0db9f0 !important;
}

.menu-container {
  border-bottom: 1px solid #cbd2d2;
}

.menu-footer {

}

.menu-footer__btn-continue {
  font-weight: 500;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 6px;
  background-color: #0db9f0;
}

.dot-circle {
  color: #cbd2d2;
  font-size: 12px;
  margin: 5px;
}

.overview-container {
  width: 70%;
}

