<div class="d-flex justify-content-center w-100 create-tour-page">
  <div class="create-tour-container mt-5 mb-5">
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="d-flex justify-content-center menu-container">
        <button [ngClass]="{'create-tour-container__btn-menu_active':numberPage === 1}"
                class="create-tour-container__btn-menu" type="button" (click)="onChangePage(1)">1. Overview
        </button>
        <button [ngClass]="{'create-tour-container__btn-menu_active':numberPage === 2}"
                class="create-tour-container__btn-menu" type="button" (click)="onChangePage(2)">2. Images
        </button>
        <button [ngClass]="{'create-tour-container__btn-menu_active':numberPage === 3}"
                class="create-tour-container__btn-menu" type="button" (click)="onChangePage(3)">3. Itinerary
        </button>
        <button [ngClass]="{'create-tour-container__btn-menu_active':numberPage === 4}"
                class="create-tour-container__btn-menu" type="button" (click)="onChangePage(4)">4. Dates&Prices
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="overview-container">
        <div class="mt-3">
          <div *ngIf="numberPage === 1">
            <app-form-input (changed)="onChangeTitle($event)" class="w-100" label="Title"></app-form-input>
            <label class="d-block form-label">Description</label>
            <app-ngx-editor (ngModelChange)="onChangeDescription($event)" [placeholder]="'Describe tour here...'"
                            [spellcheck]="true"
                            [(ngModel)]="htmlContent"></app-ngx-editor>
          </div>

          <div class="mt-4" *ngIf="numberPage === 2">
            <label class="d-block form-label">Images</label>
            <app-form-image-editor [inputFormImages]="createTourForm.get('inputFormImages').value"
                                   (changed)="changeImageEditor($event)"></app-form-image-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-footer d-flex justify-content-end align-items-center mt-5 mb-5">
      <div class="d-flex justify-content-center w-100 pl-5 ml-5">
        <div [ngClass]="{'dot_isActive':numberPage === 1}"><i class="fas fa-dot-circle dot-circle"></i></div>
        <div [ngClass]="{'dot_isActive':numberPage === 2}"><i class="fas fa-dot-circle dot-circle"></i></div>
        <div [ngClass]="{'dot_isActive':numberPage === 3}"><i class="fas fa-dot-circle dot-circle"></i></div>
        <div [ngClass]="{'dot_isActive':numberPage === 4}"><i class="fas fa-dot-circle dot-circle"></i></div>
      </div>
      <button class="mr-3 menu-footer__btn-continue" (click)="submit()" type="button">Continue</button>
    </div>
  </div>
</div>
