<div class="card tour-card border-0">
  <img class="card-img-top"
       [src]="img"
       alt="Card image cap">
  <div class="card-body p-0">
    <h5 class="card-title tour-card-title text-uppercase pt-2">{{title}}</h5>
    <p class="card-text tour-card-text">{{description}}</p>
    <div>
      <h6 class="mr-2 tour-card-subtitle">{{type}}</h6>
      <span class="tour-card-text">{{amountDays}} дней вкл. Трансфер</span>
      <h5 class="tour-card-title">
        <small class="mr-2 font-weight-normal tour-card-subtitle">От</small>
        {{price}} руб
      </h5>
    </div>

    <a href="#" class="btn btn-primary w-100 tour-card-btn mt-2">Показать даты и цены</a>
  </div>
</div>
