<div class="nav-bar-container d-flex justify-content-end">
  <app-language-select></app-language-select>
  <div *ngIf="!loginBehaviorService.isUserLoggedIn.getValue()" class="d-flex align-items-center mr-3">
    <button routerLink="/register" class="nav-bar-item__button text-uppercase mr-2 nav-bar-item__button_light">Регистрация</button>
    <div>
      <app-login-popup></app-login-popup>
    </div>
  </div>
  <app-user-select></app-user-select>
  <!--<div class="d-flex align-items-center text-white mr-3">
    <i class="fas fa-bars nav-bar__burger"></i>
  </div>
  -->
</div>
