<div class="d-flex justify-content-center filter-container m-3">
  <div class="d-flex justify-content-between w-100">
    <h5 class="filter__title">Фильтры</h5>
    <span class="filter__subtitle filter__subtitle_pointer">Очистить все</span>
  </div>

  <div class="mt-3">
    <h6 class="filter__title">Продолжительность дней</h6>
    <div class="d-flex position-relative justify-content-between">
      <input class="filter-container__input filter-container__input_range" type="text" [(ngModel)]="minValue"/>
      <input class="filter-container__input filter-container__input_range" type="text" [(ngModel)]="maxValue"/>
    </div>
    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
  </div>

  <div class="filter__title mt-3">
    <h6>Даты начала/окончания</h6>
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange" class="form-control text-center"/>
  </div>

  <div class="mt-3">
    <app-collapsible-select></app-collapsible-select>
  </div>
</div>
