<div class="container base-tour-container">
  <div class="destination__title">
    <h5>База отдыха «Погораны»</h5>
  </div>
  <app-slider [images]="images"></app-slider>
  <div class="d-flex justify-content-between base-tour-price">
    <div class="price-box">
      <h5>Стоймость:</h5>
      <div><span class="price">9 руб</span> (без ночлега)</div>
      <div><span class="price">13 руб</span> (с ночлегом)</div>
      <div><span class="price">45 руб</span> (пользование сауной)</div>
    </div>
    <ul class="tour-base__list">
      <li>благоустроенная территория</li>
      <li>беседки</li>
      <li>навес</li>
      <li>мангал</li>
      <li>комната отдыха</li>
    </ul>
    <ul class="tour-base__list">
      <li>зал для мероприятий</li>
      <li>отопление в зимний период</li>
      <li>28 спальных мест</li>
      <li>4-х местные комнаты</li>
      <li>сауна</li>
    </ul>
    <div class="d-flex align-items-end mr-3 mb-3">
      <button class="btn-request">Отправить заявку</button>
    </div>
  </div>

</div>
