<div class="d-flex justify-content-center container page-container mt-3">
  <div class="card-filters-container mt-3">
    <app-tour-filter></app-tour-filter>
  </div>
  <div class="d-flex justify-content-center card-container ml-2">
    <div class="d-flex align-items-center card-page-info border-bottom">
      <h4 class="card-container-title ml-3 w-100">Результат
        <small class="font-weight-normal">Отображения 1 - 7 of 7</small>
      </h4>
      <div class="d-flex justify-content-end w-100">
        <app-select class="mr-3" [name]="'Отображать: 10'"></app-select>
        <app-select [name]="'Сортировать: цена по убыванию'"></app-select>
      </div>
    </div>
    <div class="d-flex flex-wrap w-100">
      <div class="m-3" *ngFor="let tour of tours">
        <app-tour-card [amountDays]="tour.amountDays" [price]="tour.price" [title]="tour.title" [img]="tour.img"
                       [description]="tour.description"
                       [type]="tour.type"></app-tour-card>
      </div>
    </div>
    <app-page-selector class="m-3"></app-page-selector>
  </div>

</div>

