<div class="d-flex justify-content-center container page-container">
  <div class="card-filters-container">

  </div>
  <div class="d-flex justify-content-center card-container ml-2 mt-3">
    <div class="d-flex align-items-center card-page-info border-bottom">
      <h4 class="card-container-title ml-3 w-100">Result
        <small class="font-weight-normal">Displaying 1 - 5 of 5</small>
      </h4>
      <div class="d-flex justify-content-end w-100">
        <app-select class="mr-3" [name]="'Display: 10'"></app-select>
        <app-select [name]="'Sort: Popularity'"></app-select>
      </div>
    </div>
    <div class="d-flex flex-wrap w-100">
      <div class="m-3">
        <app-tour-card></app-tour-card>
      </div>
      <div class="m-3">
        <app-tour-card></app-tour-card>
      </div>
      <div class="m-3">
        <app-tour-card></app-tour-card>
      </div>
      <div class="m-3">
        <app-tour-card></app-tour-card>
      </div>
      <div class="m-3">
        <app-tour-card></app-tour-card>
      </div>


    </div>
  </div>
</div>

